﻿<div class="p-4">
    <div class="container">
        <h1>Welcome to Gateways system</h1>
        <p><a routerLink="/gateways">&gt;&gt; Manage Gateways</a></p>
        <p><a routerLink="/devices">&gt;&gt; Manage Devices</a></p>
    </div>
</div>