﻿<h1>Add Device</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-5">
            <label>Vendor Name</label>
            <input type="text" formControlName="vendor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.vendor.errors }" />
            <div *ngIf="submitted && f.vendor.errors" class="invalid-feedback">
                <div *ngIf="f.vendor.errors.required">Vendor Name is required</div>
            </div>
        </div>
    </div>

    <div class="form-row">
    <div class="form-group col">
        <label>Status</label>
        <select formControlName="status" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.status.errors }">
            <option value=""></option>
            <option value="1">Online</option>
            <option value="0">Offline</option>
        </select>
        <div *ngIf="submitted && f.status.errors" class="invalid-feedback">
            <div *ngIf="f.status.errors.required">Status is required</div>
        </div>
    </div>
    </div>

    <div class="form-row">
    <div class="form-group col">
        <label>GateWay</label>
        <select formControlName="gatewaySerialNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gatewaySerialNumber.errors }">
            <option *ngFor="let gateway of gateways" value="{{gateway.gatewaySerialNumber}}">{{gateway.gatewayName}}</option> 
        </select>
        <div *ngIf="submitted && f.gatewaySerialNumber.errors" class="invalid-feedback">
            <div *ngIf="f.gatewaySerialNumber.errors.required">Gateway is required</div>
        </div>
    </div>
    </div>

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>