﻿<h1>Devices</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Device</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th >UID</th>
            <th >Vendor Name</th>
            <th >Creation Date</th>
            <th >Status</th>
            <th >GateWay Serial Number</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let device of devices">
            <td>{{device.uid}} </td>
            <td>{{device.vendor}}</td>
            <td>{{device.creationDate}}</td>
            <td>{{device.status}}</td>
            <td>{{device.gatewaySerialNumber}}</td>
            <td style="white-space: nowrap">
                <button (click)="deleteDevice(device.uid,device.gatewaySerialNumber)" class="btn btn-sm btn-danger btn-delete-user" >
  
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!devices">
            <td colspan="6" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>