﻿<h1>Add GateWay</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-5">
            <label>Gateway Name</label>
            <input type="text" formControlName="gatewayName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gatewayName.errors }" />
            <div *ngIf="submitted && f.gatewayName.errors" class="invalid-feedback">
                <div *ngIf="f.gatewayName.errors.required">Gateway Name is required</div>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-5">
            
            <label>IP Address</label>
            <input type="text" formControlName="ipAddress"  placeholder="xxx.xxx.xxx.xxx" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ipAddress.errors }" />

            <div class="invalid feedback" *ngIf="submitted && ipAddress.errors && ipAddress.errors.ipError">
                Invalid Ip address entered.
            </div>
        </div>
    </div>
    

    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>