﻿<h1>Gateways</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add GateWay</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th >GateWay Serial Number</th>
            <th >GateWay Name</th>
            <th >IP Address</th>
            <th >Associated Device</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let gateway of gateways">
            <td>{{gateway.gatewaySerialNumber}} </td>
            <td>{{gateway.gatewayName}}</td>
            <td>{{gateway.ipAddress}}</td>
            <td>{{gateway.associatedDevice}}<font color="red" *ngIf="gateway.associatedDevice>=10"> you can't add devices for this gateway</font></td>
            <td style="white-space: nowrap">
                <button (click)="deleteGateWay(gateway.gatewaySerialNumber)" class="btn btn-sm btn-danger btn-delete-user" >
  
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!gateways">
            <td colspan="5" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>